body {
    background-color: rgb(254, 254, 254);
}

.container {

    display: flex;
    justify-content: end;
    gap: 20px;
    height: auto;
    align-items: center;

}

.icon {
    color: rgb(255, 232, 232);
    padding: 10px;
    height: 200px;
    width: 100px;
    background-color: rgb(122, 194, 49);
}

.btn {
    cursor: pointer;
    background-color: transparent;
    height: auto;
    width: auto;
    color: #000000;
    font-size: 15px;
    border: none;
    color: aliceblue;
}

.search {

    border: bottom right radius 10px;
    ;

    height: 20px;
    overflow: hidden;
    image-rendering: auto;

    border-radius:8px;
    border-color: rgb(129, 153, 239);
    border: none;
    border-style: none;

}


.baground {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    background-size: cover;
    z-index: -1;
}

.boypngi {
    position: absolute;

    top: 200px;
    left: -8%;
}

.para {


    color: white;
    width: 500px;
    height: 250px;
    position: absolute;
    top: 360px;
    left: 300px;
    background-color: gray;
    z-index: 1000;
    opacity: 0.5;
    border-radius: 10px;
}

.p {
    width: 470px;
    opacity: 5;
    position: absolute;
    top: 360px;
    left: 330px;
    color: #000000;

}

.logo {
    width: 150px;
    position: absolute;
    top: 0%;
    left: 10px;
}


.product-box1 {
    width: 250px;

    position: relative;

    top: 10px;
    left: 20px;

    border-radius: 10px;
}

.product-box2 {
    width: 250px;
    position: relative;

    top: 10px;
    left: 35px;

    border-radius: 10px;

}

.product-box3 {
    width: 250px;
    position: relative;

    top: 20px;
    left: 20px;

    border-radius: 10px;
}

.product-box4 {
    width: 250px;
    position: relative;

    top: 20px;
    left: 35px;

    border-radius: 10px;
}


.products-containar {
    position: absolute;

    top: 50px;
    left: 950px;

}

.num-one {
    width: 170px;

    position: absolute;
    top: 75px;
    left: 1010px;
}

.num-two {
    width: 170px;

    position: absolute;
    top: 75px;
    left: 1285px;
}

.num-three {
    width: 170px;

    position: absolute;
    top: 443px;
    left: 1010px;

}

.num-four {
    width: 170px;

    position: absolute;
    top: 443px;
    left: 1285px;

}

.respective-price-one {
    position: absolute;

    top:300px;
    left: 1048px;

}

.respective-price-two{
    position: absolute;

    top: 300px;
    left:1320px ;
}